.dropdownContainer {

    position: relative;
    width: pxToVw(90);
    height: pxToVh(20);
    left: 1vw;
    background-color: $color-dark-grey-three;
    border: 1px solid $color-warm-grey;
    color: $color-warm-grey;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    margin-right: pxToVw(10);
    line-height: pxToVw(20);
    text-align: center;
    font-size: pxToEmZeplinX2(10);
    float: left;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: pxToVw(9.2);

    .dropdownList{
        max-height: pxToVh(160);
        width: 100%;
        background-color: $color-dark-grey-three;
        color: $color-warm-grey;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        
        .dropDownListChildren{
            height: pxToVh(20);
        }
    }
}

:focus {
    color: white;
    border: none;
}