.dropdownContainer {
  position: relative;
  cursor: pointer;
  /*width: pxToVw(90);
    height: pxToVh(20);
    left: 1vw;*/
  width: 100%;
  height: 100%; // left:1%;
  background-color: $color-dark-grey-three;
  border: 1px solid $color-warm-grey;
  color: $color-warm-grey;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5); // margin-right: pxToVw(10);
  // line-height: pxToVw(20);
  margin-right: 0%;
  line-height: 2;
  text-align: center;
  font-size: pxToEmZeplinX2(10);
  float: left;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50%; // background-size: pxToVw(9.2);
  .mainLabel {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .dropdownList {
    height: 0px;
    max-height: 850%;
    width: 100%;
    background-color: $color-dark-grey-three;
    color: $color-warm-grey;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    .dropDownListChildren {
      // height: pxToVh(20);
      height: 100%;
    }
  }
}

.dropDownActive>.dropdownContainer.hbbtv,
.dropdownContainer.clicked {
  background-color: $color-off-yellow;
  color: $color-dark-grey;
  .dropdownList {
    height: initial;
    overflow: auto;
    .dropDownListChildren {
      &.selected {
        color: $color-off-yellow;
      }
       :focus .dropDownListChildrenNav {
        color: white !important;
        border: none !important;
      }
    }
  }
}