.cardAndCategory {
    width: 100%;
    height: 100%;
    .image {
        width: 100%; // height: pxToVh(133);
        height: 84%;
        border: solid 2px $warm-grey;
        opacity: .8;
        box-sizing: border-box;
        vertical-align: top;
        overflow: hidden;
        background-color: #000;
        position: relative;
        // margin-bottom: pxToVh(4);
        margin-bottom: 4%;
        text-align: center;
        background-size: cover;
        display: block;
        .icon {
            //color: red;
            //background-color: green;
            background-image: url('#{$assets-path}carousel/ico-nophoto.png');
            background-position: 50% 50%;
            background-repeat: no-repeat; // background-size: 50%;
            /// background-size: pxToVw(40) pxToVw(40); // width based but guarantees square format
            background-size: auto 100%;
            font-size: pxToVw(40);
            width: 100%;
            // height: pxToVh(133); // display: block;
            height: 40%;
            text-align: center;
            display: block;
        }
        >img {
            /*width: pxToVw(82);
                height: pxToVh(129);*/
            width: 100%;
            height: 100%;
            object-fit: contain;
            vertical-align: middle;
        }
        &.song,
        &.ost {
            // padding-top: pxToVh(30);
            padding-top: 41%;
            >.icon {
                // width: pxToVw(26);
                // height: pxToVh(33);
                height: 40%;
                background-image: url('#{$assets-path}carousel/ico-music-inactive@2x.png');
                // background-size: pxToVw(30) pxToVw(30); // width based but guarantees square format
            }
            >.title {
                display: inline-block;
                width: 100%;
                text-align: center;
                letter-spacing: .1px;
                // padding-left: pxToVw(5);
                // padding-right: pxToVw(5);
                // margin-top: pxToVh(5);
                // margin-bottom: pxToVh(5);
                padding-left: 6%;
                padding-right: 6%;
                margin-top: 5%;
                margin-bottom: 5%;

                box-sizing: border-box;
                // max-height: pxToVh(60);
                max-height: 60%;
                /*FONT TYPE*/
                font-size: pxToEmZeplinX2(10);
                font-family: $font-lato;
                font-weight: 900;
                line-height: 1.2;
                color: $warm-grey;
                @include ellipsisMultiline(2);
            }
            >.subtitle {
                display: inline-block;
                width: 100%;
                @include ellipsisMultiline(2);
                box-sizing: border-box;
                padding-top: 0;
                max-height: pxToVh(60);
                /*padding-left: pxToVw(5);
                padding-right: pxToVw(5);
                margin-top: pxToVh(5);
                margin-bottom: pxToVh(5);*/
                padding-left: 6%;
                padding-right: 6%;
                margin-top: 5%;
                margin-bottom: 5%;
                /*FONT TYPE*/
                color: $warm-grey;
                line-height: 1.2;
                text-align: center;
                font-size: pxToEmZeplinX2(10);
            }
        }
        &.quote,
        &.trivia,
        &.reference {
            >.title {
                display: inline-block;
                width: 100%;
                text-align: center;
                letter-spacing: .1px;
               /* padding-left: pxToVw(5);
                padding-right: pxToVw(5);
                margin-top: pxToVh(55);
                margin-bottom: pxToVh(5);*/
                padding-left: 6%;
                padding-right: 6%;
                margin-top: 5%;
                margin-bottom: 5%;
                box-sizing: border-box;
                // max-height: pxToVh(60);
                max-height: 47%;
                /*FONT TYPE*/
                font-size: pxToEmZeplinX2(10);
                font-family: $font-lato;
                font-weight: 900;
                line-height: 1.2;
                color: $warm-grey;
                position: absolute;
                top: 50%;
                margin-top: -25%;
                @include ellipsisMultiline(5);
            }
        }
    }
    .category {
        width: 100%; // height: pxToVh(20);
        height: 13.5%; // line-height: pxToVh(20);
        line-height: 2; // padding-left: pxToVw(5);
        // padding-right: pxToVw(5);
        padding-left: 6%;
        padding-right: 6%;
        position: relative;
        // background-color: $dark-grey-three;
        border: solid 2px $warm-grey;
        text-align: center;
        box-sizing: border-box;
        @include ellipsis;
        /*FONT TYPE*/
        font-family: $font-lato;
        font-size: pxToEmZeplinX2(10);
        font-weight: 600;
        letter-spacing: .1px;
        color: $warm-grey;
        text-transform: capitalize;
    }
}