.cardAndCategory {
    $card-inside-width: pxToVw(86);
    width: $card-inside-width;
    .image {
        width: 100%;
        height: pxToVh(133);
        border: solid 2px $warm-grey;
        opacity: .8;
        box-sizing: border-box;
        vertical-align: top;
        overflow: hidden;
        position: relative;
        background-color: black;
        margin-bottom: pxToVh(4);
        text-align: center;
        background-size: cover;
        .icon {
            background-image: url('#{$assets-path}carousel/ico-nophoto.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: pxToVw(40) pxToVh(40);
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        >img {
            /*width: pxToVw(82);
                height: pxToVh(129);*/
            width: 100%;
            height: 100%;
            object-fit: contain;
            vertical-align: middle;
        }
        &.song,
        &.ost {
            padding-top: pxToVh(30);
            >.icon {
                width: pxToVw(26);
                height: pxToVh(33);
                background-image: url('#{$assets-path}carousel/ico-music-inactive@2x.png');
                background-size: 100% 100%;
            }
            >.title {
                display: inline-block;
                width: 100%;
                text-align: center;
                letter-spacing: .1px;
                padding-left: pxToVw(5);
                padding-right: pxToVw(5);
                margin-top: pxToVh(5);
                margin-bottom: pxToVh(5);
                box-sizing: border-box;
                max-height: pxToVh(60);
                /*FONT TYPE*/
                font-size: pxToEmZeplinX2(10);
                font-family: $font-lato;
                font-weight: 900;
                line-height: 1.2;
                color: $warm-grey;
                @include ellipsisMultiline(2);
            }
            >.subtitle {
                display: inline-block;
                width: 100%;
                @include ellipsisMultiline(2);
                box-sizing: border-box;
                padding-top: 0;
                max-height: pxToVh(60);
                padding-left: pxToVw(5);
                padding-right: pxToVw(5);
                margin-top: pxToVh(5);
                margin-bottom: pxToVh(5);
                /*FONT TYPE*/
                color: $warm-grey;
                line-height: 1.2;
                text-align: center;
                font-size: pxToEmZeplinX2(10);
            }
        }
        &.quote,
        &.trivia,
        &.reference {
            >.title {
                display: inline-block;
                width: 100%;
                text-align: center;
                letter-spacing: .1px;
                padding-left: pxToVw(5);
                padding-right: pxToVw(5);
                margin-top: pxToVh(55);
                margin-bottom: pxToVh(5);
                box-sizing: border-box;
                max-height: pxToVh(60);
                /*FONT TYPE*/
                font-size: pxToEmZeplinX2(10);
                font-family: $font-lato;
                font-weight: 900;
                line-height: 1.2;
                color: $warm-grey;
                position: absolute;
                top: 50%;
                margin-top: -25%;
                @include ellipsisMultiline(5);
            }
        }
    }
    .category {
        width: 100%;
        height: pxToVh(20);
        padding-left: pxToVw(5);
        padding-right: pxToVw(5);
        position: relative;
        background-color: $dark-grey-three;
        border: solid 2px $warm-grey;
        text-align: center;
        box-sizing: border-box;
        @include ellipsis;
        /*FONT TYPE*/
        font-family: $font-lato;
        font-size: pxToEmZeplinX2(10);
        font-weight: 600;
        line-height: 1.7;
        letter-spacing: .1px;
        color: $warm-grey;
        text-transform: capitalize;
    }
}
