.bottomContainerTopButtons {
    // position: absolute;
    position: relative; // padding-top: pxToVh(10);
    /*padding-top: 0.9%;
    padding-bottom: 0.9%; // padding-left: pxToVw(15);
    padding-left: 1.56%; // padding-bottom: pxToVh(10);*/
    white-space: nowrap;
    width: 100%;
    height: 100%;
    z-index: 4;
    .btnClose {
        width: 2.1%;
        height: 100%;
        display: inline-block;
    }
    .dropDown {
        width: 10%;
        height: 100%;
        display: inline-block;
        margin-left: 1%;
    }
    .bctButton {
        width: pxToVw(20);
        height: pxToVw(20);
        background-color: $color-dark-grey-three;
        border: 1px solid $color-warm-grey;
        color: $color-warm-grey;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        margin-right: pxToVw(10);
        line-height: pxToVw(20);
        text-align: center;
        font-size: pxToEmZeplinX2(10);
        float: left;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: pxToVw(9.2);
        &.close {
            background-image: url('#{$assets-path}carousel/x.svg');
        }
    }
     :focus .bctButton {
        color: $color-dark-grey-three;
        background-color: $color-off-yellow;
        svg {
            fill: $color-dark-grey-three;
        }
    }
    .divider {
        width: 1.5px;
        border: 0;
        padding: 0;
        background-color: $color-warm-grey;
    }
}