.cardTitle {
    width: 100%;
}

.listContent {
    width: 100%; //height: 80%;
    // height: pxToVh(118.5);
    height: 85%;
    position: relative;
    .listElement {
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        border: none !important;
        &.focusable {
            border: solid 2px $color-warm-grey !important;
        }
        /*width: 45%;
        margin-right: 5%;*/
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: black;
        }
        .image {
            width: 100%;
            height: 80%;
            position: relative;
            box-sizing: border-box;
            border: solid 2px $color-warm-grey;
        }
        .title {
            width: 100%;
            height: 15%;
            position: absolute;
            box-sizing: border-box;
            border: solid 2px $color-warm-grey;
            font-size: pxToEmZeplinX2(10);
            text-align: center;
            padding-top: 7%;
            bottom: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
     :focus {
        .listElement {
            &.focusable {
                // border: 2px solid $off-yellow !important;
            }
            .focusable {
                // border: 2px solid $off-yellow !important;
            }
        }
    }
}