.horizontalScroll {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    .scrollBox {
        // width: pxToVw(145);
        width: 80%;
        height: 100%;
        position: relative;
        display: inline-block;
        &::-webkit-scrollbar {
            display: none;
        }
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
        .scrollBoxContent {
            >*{
                vertical-align: top;
                width: 45% !important;
                margin-right: 5%;
                display: inline-block;
            }
        }
        >* {
            
            /*.horizontalElement {
                width: 100%;
                height: 100%;
                position: relative;
                border: none !important;
            }*/
        }
    }
    .btns {
        // width: pxToVw(30);
        width: 16%;
        height: 100%;
        text-align: center;
        position: relative;
        // margin-left: pxToVw(5);
        margin-left: 3%;
        display: inline-block;
        /*top: 50%;
        -webkit-transform: translate( 0, -50%);
        vertical-align: top;*/
    }
}