@import './header/header.component';
@import './text/text.component';
@import './table/table.component';
@import './awards/awards.component';
@import './list/list.component';
@import './map/map.component';
.cardModulesContainer {
    white-space: nowrap;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 0% 1.5%;
    // top: pxToVh(34);
    // left: pxToVw(15);
    overflow-x: auto;
    .cardModule-container {
        overflow: hidden;
        position: relative;
        vertical-align: top;
        // width: pxToVw(221);+
        width: 24.5%;
        box-sizing: border-box;
        display: inline-block;
        border-right: 1px solid $color-warm-grey;
        height: 100%; // pxToVh(168);
        .cardModule {
            height: 100%;
            width: 100%;
        }
        &>* {
            //MODULE DIV
            border: 0 !important;
            height: 100%;
        }
        & .container {
            // display: table;
            // width: pxToVw(200.5);
            width: 90.7%;
            height: 100%; // pxToVh(168);
            box-sizing: border-box;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
            // padding: pxToVw(10);
            padding: 4.5%;
            // margin: 0 pxToVw(10);
            margin: 0 4.5%;
            background-color: $color-dark-grey-three;
            font-family: $font-lato;
            white-space: initial;
            // $contentWidth: pxToVw(180.5);
            $contentWidth: 100%;
            overflow: hidden;
            .cardTitle {
                text-transform: uppercase;
                line-height: 1;
                color: white;
                width: $contentWidth;
                // margin-bottom: pxToVh(10.5);
                 margin-bottom: 6%;
                position: relative;
                vertical-align: top;
                // width: pxToVw(221);
                width: 100%;
                box-sizing: border-box;
                display: inline-block;
                font-size: pxToEmZeplinX2(8.5);
                // height: 100%; // pxToVh(168);
                &>* {
                    //MODULE DIV
                    // border: 0 !important;
                    height: 100%;
                }
            }
        }
    }
    & .navigable:focus > div {
        border: none;
    }
}
