.directionButtonList {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    li {
        text-align: center;
        margin-right: 3px;
        margin-left: 3px;
        //width: pxToVw(20);
        //height: pxToVh(20);
        height: 68%;
        width: 16%; 
        position: relative;
        overflow: visible;  
    }
    &.vertical {
        // top: -30%;
        top:20%;
        // -webkit-transform: translate( 0, -50%);
        vertical-align: top;
        li {
            width: 68%;
            height: 16%;
            margin-bottom: 10%;
            
        }
    }
}