$minicard-width: 100%; // width: pxToVw(92); // width: auto;
$card-expandedInfo-width: 20%;
.miniCardList {
    width: 100%;
    height: 92%;
    white-space: nowrap; // float: left;
    // padding-right: 200px;
    padding-right: 10.4%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align: top;
    display: block;
    >.navigable {
        max-height: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        vertical-align: top;
        margin-left: 1.56%;
        // margin-left: pxToVw(15);
        min-width: 10.6%;
        max-width: 30%;
        width: 10.6%; //width: auto;
        box-sizing: initial;
        /*
        @include animationHack();
        transition-property: width;
        transition-duration: 0s;
        transition-delay: 0s;
        */
        &.childFocused:not(.moreRelations) {
            // width: $computed-card-plus-expandedInfo;
            padding-right: 20%;
            /*
            transition-duration: .5s;
            transition-delay: .1s;
            */
        }
        li {
            width: $minicard-width;
            height: 100%;
            display: inline-block;
            vertical-align: top;
            &.on {
                width: 30% !important;
            }
        }
    }
}