.containerCarousel {
    background-color: $dark-grey-two;
    position: relative;
    height: 100%;
    width: 100%;

    .pauseContainer {
        position: absolute;
        top: 0;
    }
    .filters {
        width: 100%;
        height: pxToVh(40);
    }
    .cards {
        width: 100%;
        height: pxToVh(180);
        position: absolute;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        > .navigable {
            height: pxToVh(180);
        }
    }
    .prevSceneIcon {
        background-image: url('#{$assets-path}carousel/ico-next.svg');
        transform: rotate(90deg);
    }
    .carouselCurrentTime,
    .currentSceneButton {
        min-width: pxToVw(60);
        padding: 0 6px;
        overflow: hidden;
        width: auto;
    }
    .nextSceneIcon {
        background-image: url('#{$assets-path}carousel/ico-next.svg');
        transform: rotate(-90deg);
    }
    .filters {}
}

.bottomContainerTopButtons {
    // position: absolute;
    position: relative;
    padding-top: pxToVh(10);
    padding-left: pxToVw(15);
    padding-bottom: pxToVh(10);
    white-space: nowrap;
    width: 100%;
    z-index: 4;

    .bctButton {
        width: pxToVw(20);
        height: pxToVw(20);
        background-color: $color-dark-grey-three;
        border: 1px solid $color-warm-grey;
        color: $color-warm-grey;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        margin-right: pxToVw(10);
        line-height: pxToVw(20);
        text-align: center;
        font-size: pxToEmZeplinX2(10);
        float: left;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: pxToVw(9.2);
        &.close {
            background-image: url('#{$assets-path}carousel/x.svg');
        }
    }

    :focus .bctButton {
        color: $color-dark-grey-three;
        background-color: $color-off-yellow;
        svg {
            fill: $color-dark-grey-three;
        }
    }
    .divider {
        width: 1.5px;
        border: 0;
        padding: 0;
        background-color: $color-warm-grey;
    }
}