.cardModuleTable {
    .container table tr {
        font-size: pxToEmZeplinX2(9);
        line-height: 1.11; // margin-bottom: pxToVh(10);
        margin-bottom: 5%;
        text-align: left;
        display: block;
        td:nth-child(odd) {
            font-weight: 600;
            color: $color-white; // width: pxToVw(72);
            width: 35%;
            display: inline-block;
            box-sizing: border-box;
            padding-right: 6px;
        }
        td:nth-child(even) {
            color: $color-warm-grey;
            font-weight: normal;
            display: inline-block;
            width: 63%;
        }
    }
}