.cardDetail {
    color: $color-white;    
    background-color: $color-dark-grey;
     :focus {
        outline: 0;
    }
    .cardDetailBtn {
        width: 2.08333vw;
        height: 2.08333vw;
    }
    .bctButton {
        width: pxToVw(20);
        height: pxToVw(20);
        background-color: $color-dark-grey-three;
        border: 1px solid $color-warm-grey;
        color: $color-warm-grey;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        margin-right: pxToVw(10);
        line-height: pxToVw(20);
        text-align: center;
        font-size: pxToEmZeplinX2(10);
        float: left;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: pxToVw(9.2);
        &.close {
            background-image: url('#{$assets-path}carousel/x.svg');
        }
    }

    :focus .bctButton {
        color: $color-dark-grey-three;
        background-color: $color-off-yellow;
        svg {
            fill: $color-dark-grey-three;
        }
    }
}
