html {
    display: none;
}


.mainBackgroundAndBaseColor {
    color: #fff !important;
    background-color: #1c1d1d !important;
}

.cardDetailTitle {
    color: aqua !important;
}

.cardDetailModuleBg {
    background-color: #252526 !important;
}

.cardModuleTitleColor {
    color: yellow !important;
}

.cardModuleTextMainColor {
    color: blue !important;
}

.cardModuleTextSecondaryColor {
    color: green !important;
}

.cardModuleTextTernaryColor {
    color: pink !important;
}