/*$minicard-width: pxToVw(92);
$card-expandedInfo-width: 30%;
$computed-card-plus-expandedInfo: to-number($minicard-width)+to-number($card-expandedInfo-width);*/
$minicard-width: 10%;
$card-expandedInfo-width: 20%;
$computed-card-plus-expandedInfo: 30%;

.minicard {
    width: auto; // background: $off-yellow;
    min-width: 100%;
    height: 100%;
    position: relative; // overflow: hidden;
    border: none !important;
    .cardLeft {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $dark-grey;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
        box-sizing: border-box;
        padding-top: pxToVh(3);
        padding-bottom: pxToVh(3);
        padding-left: pxToVw(3);
        padding-right: pxToVw(3);
        z-index: 2;
        display: inline-block;
        float: left;
    }
    .expandedInfoContainer {
        overflow: hidden;
        // float: left;
        width: 0; //$card-expandedInfo-width;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        padding-left: 100%;
    }
    .expandedInfo {
        display: none;
        @include animationHack();
        transition-property: transform;
        transform: translate3d(0, 0, 0) translateX(-100%);
        transition-duration: 0s;
        transition-delay: 0s;
        // top: pxToVh(14);
        top: 9%;
        background-color: $dark-grey-three;
        width: 100%; // $card-expandedInfo-width; // width: 159px;
        height: 84%; //pxToVh(135); // margin-top: 1vh;
        margin-left: -2px;
        box-sizing: border-box; // display: none;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        .expandedInfoInside {
            transform: translate3d(0, 0, 0);
            // padding: pxToVh(10);
            padding: 6%;
            width: 100%; // pxToVw(161.5);
            height: 100%; //pxToVh(135); // margin-top: 1vh;
            box-sizing: border-box;
            position: relative;
            .text {
                width: 100%;
                // height: pxToVh(58);
                height: 50%;
                position: relative;
                // margin-bottom: pxToVh(5);
                margin-bottom: 3.5%;
                text-align: left;
                font-family: $font-lato;
                white-space: normal;
                &.alone {
                    @include ellipsisMultiline(6);
                    /*TEXT STYLE*/
                    font-size: pxToEmZeplinX2(9);
                    line-height: 1.11;
                    letter-spacing: pxToEmZeplinX2(1);
                    color: $pale-grey-two;
                }
                .title {
                    width: 100%;
                    font-size: pxToEmZeplinX2(11);
                    line-height: 1;
                    color: $pale-grey; // @include ellipsis;
                    height: auto; //
                    // max-height: pxToVh(48);
                    max-height: 170%;
                }
                .desc {
                    width: 100%;
                    color: $pale-grey-two;
                    @include ellipsisMultiline(4);
                    /*TEXT STYLE*/
                    font-size: pxToEmZeplinX2(9);
                    line-height: 1.11;
                    letter-spacing: pxToEmZeplinX2(1);
                }
            }
            .btn {
                width: 100%;
                // height: pxToVh(22);
                height: 19%;
                // margin-bottom: pxToVh(5);
                margin-bottom: 3.3%;
                display: block;
                border-radius: 0;
            }
        }
    }
    &.relation {
        .relationBar {
            background-color: $warm-grey;
            //margin-left: -2.7037vh;
            // width: pxToVw(20);
            margin-left: -15%;
            width: 20%;
            // height: pxToVh(5);
            height: 3%;
            position: absolute;
            // top: pxToVh(70);
            top: 46%;
            z-index: 0;
        }
    }
}

.activeGroup .minicard {
    .relationBar {
        background-color: $off-yellow;
    }
}

.childFocused .minicard {
    /*transition-property: width;
    transition-duration: .5s;
    transition-delay: 0.1s;*/
    //width: pxToVw(252); // background: $off-yellow;
    .minicard{
        width: 35.3%;
    }
    width: $computed-card-plus-expandedInfo; //unquote("#{$computed}vw");
    .cardLeft {
        width:100%;
        .image,
        .category {
            border: solid 2px $off-yellow;
            color: $pale-grey;
        }
    }
    .expandedInfoContainer {
        width: 290%;
        .expandedInfo {
            display: block;
            transform: translateX(0);
            transition-duration: .3s;
            transition-delay: 0.05s; // display: inline-block;
            border: solid 2px $off-yellow; //display: block;
            z-index: 1;
            position: relative;
        }
    }
}