
//FROM ZEPLIN
$charcoal-grey: #46494e;
$dark-grey: #1c1d1d;
$dark-grey-two: #303133;
$pale-grey: #f4f6f9;
$warm-grey: #909090;
$dark-grey-three: #252526;
$off-yellow: #f7d73b;
$seafoam-blue: #5dc4b6;
$dark-gold: #b39e14;
$pale-grey-two: #e8ebef;
$white: #ffffff;


//CUSTOM
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #1c1d1d;
$color-dark-grey-two: #303133;
$color-dark-grey-three: #252526;
$color-faded-red: #d84954;
$color-off-yellow: #f7d73b;
$color-warm-grey: #909090;
$color-warm-grey-two: #979797;
$color-pale-grey: #f4f6f9;
$color-pale-grey-two: #e8ebef;
$color-teal-green: #269b8b;

$black-dive: #313233;

$grey-background: #35373b;
$grey-background-dark: #252728;

$menu-bkg: #a9aaaa;
$menu-btn-color: #f4f6f9;
$menu-btn-selected: $color-off-yellow;



