.demoFillContent {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.demoVideoContainer {
  height: 60%!important;
  width: 100% !important;
  cursor: pointer !important;
}

.demoVideo {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}