
@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic,700,400italic,300italic,300);

@font-face {
    font-family: 'Lato';
    src: url('#{$assets-path}fonts/lato/Lato-SemiboldItalic.eot');
    /* IE9 Compat Modes */
    src: url('#{$assets-path}fonts/lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('#{$assets-path}fonts/lato/Lato-SemiboldItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/lato/Lato-SemiboldItalic.woff') format('woff'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$assets-path}fonts/lato/Lato-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('#{$assets-path}fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('#{$assets-path}fonts/lato/Lato-Semibold.woff2') format('woff2'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/lato/Lato-Semibold.woff') format('woff'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Zona Pro';
    src: url('#{$assets-path}fonts/zona/ZonaPro-SemiBold.eot');
    /* IE9 Compat Modes */
    src: url('#{$assets-path}fonts/zona/ZonaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('#{$assets-path}fonts/zona/ZonaPro-SemiBold.woff') format('woff'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/zona/ZonaPro-SemiBold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('#{$assets-path}fonts/zona/ZonaPro-SemiBold.svg#162f7822120324b8c470efd092b0a3f1') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Zona Pro';
    src: url('#{$assets-path}fonts/zona/ZonaPro-Regular.eot');
    /* IE9 Compat Modes */
    src: url('#{$assets-path}fonts/zona/ZonaPro-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('#{$assets-path}fonts/zona/ZonaPro-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('#{$assets-path}fonts/zona/ZonaPro-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('#{$assets-path}fonts/zona/ZonaPro-Regular.svg#bb1fe4599c1fb6494adcac51c11eb979') format('svg');
    /* Legacy iOS */
    font-style: normal;
    text-rendering: optimizeLegibility;
}

$font-lato: 'Lato';
$font-zona-pro: 'Zona Pro';