body .diveContainer {
    @import 'normalizer';
    @import 'colors';
    @import 'variables';
    @import 'functions';
    $font-lato: Tiresias,
    sans-serif;
    $font-zona: sans-serif; // 'Letter Gothic 12 Pitch';
    $font-zona-pro: sans-serif; // 'Letter Gothic 12 Pitch';
    @import 'common';
    * {
        outline: none;
    }
    pointer-events: none;
    user-select: none;
    visibility: visible !important;
    display: block !important;
    width: 100%;
    height: 100%;

    @import 'text_sizes';
    @import '../containers/App/app';
    @import '../HOC/navigable/navigable.HOC';
    @import '../containers/CardDetail/cardDetail.container';
    @import '../containers/layout/layout.container';
    @import '../containers/carousel/carousel.container';
    @import '../containers/allRelations/allRelations.container';
    @import '../containers/ui/bottomOverlayMessage.container';
    @import '../components/miniCardList/miniCardList.component';
    @import '../components/miniCard/miniCard.component';
    @import '../components/miniCard/miniCardButton/miniCardButton.component';
    @import '../components/CardDetail/cardDetail.component';
    @import '../components/moreRelations/moreRelations.component';
    @import '../components/CardDetail/cardModules/cardModules';
    @import '../components/verticalScroll/verticalScroll.component';
    @import '../components/horizontalScroll/horizontalScroll.component';
    @import '../components/directionButtonList/directionButtonList.component';
    @import '../components/directionButtonList/directionButton/directionButton.component';
    @import '../components/DropDownList/DropDownList.component';
    @import '../components/carouselButtonsContainer/carouselButtonsContainer.component';
    @import '../components/menu/menu.component';
    @import '../components/menu/menuItem/menuItem.component';
    @import '../components/VODvideo/VODvideo.component';
    @import '../components/cardAndCategory/cardAndCategory.component';
    @import '../components/banner/banner.component';
}

@media all and (max-width: 900) {
    .diveContainer {
        font-size: 3px;
    }
}

@media all and (min-width: 900px) and (max-width: 1300px) {
    .diveContainer {
        font-size: 7px;
    }
}

@media all and (min-width: 1300px) and (max-width: 1620px) {
    .diveContainer {
        font-size: 9px;
    }
}

@media all and (min-width: 1620px) and (max-width: 2600px) {
    .diveContainer {
        font-size: 11px;
    }
}

@media all and (min-width: 2600px) {
    .diveContainer {
        font-size: 20px;
    }
}
