@import 'normalizer';
@import 'variables';
@import 'text_sizes';
@import 'colors';
@import 'functions';
$font-lato: Tiresias, sans-serif;
$font-zona: 'Letter Gothic 12 Pitch';
@import 'common';
@import '../HOC/navigable/navigable.HOC';
@import '../components/miniCard/miniCard.component';
@import '../components/miniCard/miniCardButton/miniCardButton.component';
@import '../components/cardDetail/cardDetail.component';
@import '../components/cardAndCategory/cardAndCategory.component';
@import '../components/cardDetail/cardModules/cardModules';
@import '../components/verticalScroll/verticalScroll.component';
@import '../components/horizontalScroll/horizontalScroll.component';
@import '../components/directionButtonList/directionButtonList.component';
@import '../components/directionButtonList/directionButton/directionButton.component';
