.containerLayout {
    @include fillParent;
    overflow: hidden;
    .carouselButtonsContainer {
        width: 100%;
        height: 13%;
        padding-top: 0.9%;
        /* padding-bottom: 0.9%; */
        padding-left: 1.56%;
        box-sizing: border-box;
    }
    .layoutTop {
        width: 100%;
        height: 50%;
        text-align: center;
        background-color: transparent;
        .layoutMenu {
            position: absolute;
            left: 0; // top: 10vh;
            bottom: 45vh;
            width: 10vh;
            height: 17.5%;
            /*background-color: grey;*/
            z-index: 2;
        }
    }
    .layoutBottom {
        width: 100%;
        height: 0;
        bottom: 0;
        position: absolute;
        overflow: hidden;
        background-color: $color-dark-grey-two;
        .layoutBottomSub {
            // DISABLED FOR CLARO: padding-bottom: 22.5%;
            height: 100%;
            box-sizing: border-box;
            position: relative;
            >.navigable {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    >::-webkit-scrollbar-thumb,
    >::-webkit-scrollbar {
        display: none;
    }
}