.containerLayout {
    @include fillParent;
    overflow: hidden;
    .layoutTop {
        width: 100%;
        height: 50%;
        text-align: center;
        background-color: black;
        .layoutMenu {
            position: absolute;
            left: 0; // top: 10vh;
            bottom: 45vh;
            width: 10vh;
            height: 36vh;
            /*background-color: grey;*/
            z-index: 2;
        }
    }
    .layoutBottom {
        width: 100%;
        height: 0;
        padding-bottom: 22.5%;
        bottom: 0;
        position: absolute;
        overflow: hidden;
        .layoutBottomSub{
            position: absolute;
            left: 0;
            right: 0;
            top:0;
            bottom: 0;
        }
    }
    >::-webkit-scrollbar-thumb,
    >::-webkit-scrollbar {
        display: none;
    }
}