.miniCardButton {
    position: relative;
    text-align: center;
    color: $warm-grey;
    background-color: $dark-grey-two;
    border: solid 2px $warm-grey;
    box-sizing: border-box;
    /*FONT STYLE*/
    font-family: $font-lato;
    font-size: pxToEmZeplinX2(10);
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
    &.more {
        line-height: .8;
        font-size: pxToEmZeplinX2(27.5);
    }
    >.icon {
        &.like, &.liked {
            background-size: 100% 100%;
            // width: pxToVw(12);
            // height: pxToVh(11.5);
            // top: pxToVh(4);
            width: 8%;
            height: 56%;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 3%;
            top: 17%;
        }
        &.like {
            background-image: url('#{$assets-path}carousel/ico-like.svg');
        }
        &.liked {
            background-image: url('#{$assets-path}carousel/ico-liked.svg');
        }
    }
}

:focus .miniCardButton {
    background: $off-yellow;
    color: $dark-grey-three;
    border-color: $off-yellow;
    >.icon {
        &.like {
            background-image: url('#{$assets-path}carousel/ico-like.svg');
        }
    }
}
