.navigable:focus > div.banner {
    border-width: 2px;
}

.banner {
    display: inline-block;
    margin-left: 1.56%;
    border-width: 2px;
    box-sizing: border-box;
    height: 100%;
    &.banner-large {
        width: 800px;
        max-height: 100%;
    }
    &.banner-small {
        width: 400px;
        max-height: 100%;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}
